body {
    padding: 0;
    margin: 0;
    background-color: rgb(121, 147, 196);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: white;
    border-bottom: 2px solid black;
    font-size: 2.5em;
    font-family: Helvetica, sans-serif;
}

h2 {
    margin-top: 50%;
    font-family: Verdana, Sans-Serif;
}

.contact-box {
    display: flex;
    width: 50%;
    height: 60%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2.5%;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-box {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}

form {
    font-family: Garamond, serif;
}

#submit-button {
    background-color: rgb(121, 147, 196);
    width: 100%;
    margin-bottom: 10%;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: Garamond, serif;
}

.social-media-icon {
    max-width: 7%
}

.link {
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: Garamond, serif;
}
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 2.0em;
        margin-bottom: 0;
        text-align: center;
    }

    h2 {
        margin-top: 10%;
        font-size: 1.8em;
    }
    
    #contact-pic {
        display: none;
    }

    .form-box {
        align-items: center;
    }

    form {
        font-size: 1.0em;
    }
    .contact-box {
        display: flex;
        width: 70%;
        height: 55%;
        margin-left: 15%;
        margin-right: 15%;
        background-color: whitesmoke;
    }

    .social-media {
        margin-left: 23%;
        margin-right: 23%;
        font-size: 1.1em;
    }

    #submit-button {
        width: 40%;
    }

    #home-title {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.6em;
        margin-bottom: 0;
    }

    h2 {
        margin-top: 10%;
    }
    
    #contact-pic {
        display: none;
    }

    .form-box {
        margin-left: 10%;
        margin-right: 10%;
    }

    form {
        font-size: 0.8em;
    }
    .contact-box {
        display: flex;
        width: 70%;
        height: 55%;
        margin-left: 15%;
        margin-right: 15%;
        background-color: whitesmoke;
    }

    #home-title {
        display: none;
    }

    .link {
        font-size: 0.6em;
    }

    .social-media {
        margin-left: 23%;
        margin-right: 23%;
        font-size: 0.8em;
    }
}