body {
    padding: 0;
    margin: 0;
    background-color: rgb(121, 147, 196);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
}

.menu {
    display: flex;
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

.column {
    display: flex;
    flex-direction: column;
}

.heading {
    text-align: center;
    font-size: 2.0em;
}

.food-name {
    margin-bottom: 1px;
}

.description {
    font-size: 0.8em;
    margin-top: 0px;
}

h1 {
    text-align: center;
    color: white;
    border-bottom: 2px solid black;
    font-size: 2.5em;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2.2em;
    }

    .menu {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
    }

    .heading {
        margin-bottom: 1%;
    }
    
    .food-name {
        font-size: 0.9em;
    }

    #home-title {
        display: none;
    }

}