body {
    padding: 0;
    margin: 0;
    background-color: rgb(121, 147, 196);
}

h1 {
    text-align: center;
    color: white;
    border-bottom: 2px solid black;
    font-size: 2.5em;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.box-1 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
}

.box-2 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
}

.box-3 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
}

.resort-image {
    max-width: 30%;
    max-height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.package {
    padding: 1vh;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text {
    background-color: white;
    padding: 1vh;
    max-width: 30%;
    max-height: 100%;
    font-size: 1.3em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0;
}

.package-head {
    font-size: 1.5em;
    text-align: center;
    border-bottom: 2px solid black;
}

.element {
    font-size: 1.1em;
}

.section-head {
    font-size: 1.5em;
    text-align: center;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2.0em;
        margin-bottom: 0;
    }
    
    .box-1 {
      flex-direction: column;
      align-items: center;
    }

    .box-2 {
        flex-direction: column;
        align-items: center;
    }

    .box-3 {
        flex-direction: column;
        align-items: center;
    }

    .section-head {
        font-size: 1.3em;
        margin-bottom: 1%;
    }

    .text {
        background-color: white;
        padding: 1vh;
        max-width: 100%;
        font-size: 0.8em;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .package {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .element {
        font-size: 0.8em;
    }

    .resort-image {
        max-width: 100%;
    }

    #home-title {
        display: none;
    }
}