body {
    padding: 0;
    margin: 0;
    background-color: rgb(121, 147, 196);
}

h1 {
    text-align: center;
    color: white;
    font-family: Helvetica, sans-serif;
    border-bottom: 2px solid black;
    font-size: 2.5em;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.box-1 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
    align-self: center;
}

.box-2 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
    align-self: center;
}

.box-3 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
    align-self: center;
}

.resort-image {
    max-width: 30%;
    max-height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.package {
    padding: 1vh;
    margin-left: 3%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text {
    background-color: white;
    padding: 1vh;
    max-width: 30%;
    max-height: 100%;
    font-size: 1.3em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0;
    font-family: Garamond, serif;
}

.package-head {
    font-size: 1.5em;
    text-align: center;
    font-family: Verdana, Sans-Serif;
    border-bottom: 2px solid black;
}

.element {
    font-size: 1.1em;
    font-family: Garamond, serif;
}

.section-head {
    font-size: 1.5em;
    text-align: center;
    font-family: Verdana, Sans-Serif;
}

.buy-now-animation {
    font-size: 1.5em;
    font-family: Garamond, serif;
    color: white;
    margin-bottom: 2%;
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slidein {
    from {
      margin-left: 70%;
      width: 25%;
    }
  
    to {
      margin-left: 10%;
      width: 25%;
    }
  }

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 2.0em;
        margin-bottom: 0;
    }
    
    .box-1 {
      flex-direction: column;
      align-items: center;
    }

    .box-2 {
        flex-direction: column;
        align-items: center;
    }

    .box-3 {
        flex-direction: column;
        align-items: center;
    }

    .section-head {
        font-size: 1.3em;
        margin-bottom: 1%;
    }

    .text {
        background-color: white;
        padding: 1vh;
        max-width: 100%;
        font-size: 1.2em;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .package {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .element {
        font-size: 1.2em;
    }

    .resort-image {
        max-width: 100%;
    }

    #home-title {
        display: none;
    }

    .buy-now-animation {
        font-size: 1.1em;
    }

    @keyframes slidein {
        from {
          margin-left: 60%;
          width: 50%;
        }
      
        to {
          margin-left: 15%;
          width: 50%;
        }
      }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2.0em;
        margin-bottom: 0;
    }
    
    .box-1 {
      flex-direction: column;
      align-items: center;
    }

    .box-2 {
        flex-direction: column;
        align-items: center;
    }

    .box-3 {
        flex-direction: column;
        align-items: center;
    }

    .section-head {
        font-size: 1.3em;
        margin-bottom: 1%;
    }

    .text {
        background-color: white;
        padding: 1vh;
        max-width: 100%;
        font-size: 0.8em;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .package {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .element {
        font-size: 0.8em;
    }

    .resort-image {
        max-width: 100%;
    }

    #home-title {
        display: none;
    }

    .buy-now-animation {
        font-size: 0.8em;
    }

    @keyframes slidein {
        from {
          margin-left: 45%;
          width: 55%;
        }
      
        to {
          margin-left: 10%;
          width: 55%;
        }
      }
}